body {
  background: url(cork-board/cork-board.png); /* Made by Lopez Théo (from https://www.toptal.com/designers/subtlepatterns/cork-board-pattern/)*/
  color: #333333;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  background-color: rgba(255, 255, 255, 0.5);
  width: 30%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  margin-top: 20px;
  color: indianred;
  text-align: center;
}