.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.edit-list{
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

.doneTask{
    text-decoration: line-through;
    color: darkgreen;
}

.item{
    flex-basis: 70%;
    text-align: left;
}